USE [NETFLIX]
GO
/****** Object:  StoredProcedure [dbo].[UTENTI_CARICADDL]    Script Date: 8/2/2022 4:33:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UTENTI_CARICADDL]

AS
BEGIN
	SELECT * FROM UTENTI
END
GO
